.todo-menu {
  border: 2px solid #f5f5f5;
  border-radius: 20px;
  box-shadow: 0 0 1rem rgba(#000000, 0.5);
  padding: 2rem;
  max-width: 500px;
  width: 100%;
  background-color: #ffffff;

  &__header {
    margin-bottom: 1rem;
  }

  &__heading {
    font-size: 2rem !important;
    text-transform: uppercase;

    @media only screen and (min-width: 500px) {
      font-size: 3rem !important;
    }
  }

  &__todo-form {
    display: flex;
    margin-top: 2rem;
  }

  &__todo-input {
    flex: 1;
    margin-right: 1rem !important;
  }

  &__submit-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transform: scale(0.85);
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
